@font-face {
  font-family: Anjoman;
  font-weight: 200;
  src: url('./AnjomanFaNum-Black.ttf');
  font-display: swap;
}

@font-face {
  font-family: Anjoman;
  font-weight: 500;
  src: url('./AnjomanFaNum-ExtraBold.ttf');
  font-display: swap;
}

@font-face {
  font-family: Anjoman;
  font-weight: 100;
  src: url('./AnjomanFaNum-ExtraLight.ttf');
  font-display: swap;
}

@font-face {
  font-family: Anjoman;
  font-weight: 600;
  src: url('./AnjomanFaNum-Heavy.ttf');
  font-display: swap;
}

@font-face {
  font-family: Anjoman;
  font-weight: 900;
  src: url('./Anjoman-SuperHeavy.ttf');
  font-display: swap;
}

@font-face {
  font-family: Anjoman;
  font-weight: 300;
  src: url('./AnjomanFaNum-Medium.ttf');
  font-display: swap;
}

@font-face {
  font-family: Anjoman;
  font-weight: 700;
  src: url('./AnjomanFaNum-SemiBold.ttf');
  font-display: swap;
}

@font-face {
  font-family: Anjoman;
  font-weight: 200;
  src: url('./AnjomanFaNum-Thin.ttf');
  font-display: swap;
}

@font-face {
  font-family: Anjoman;
  font-weight: 800;
  src: url('./AnjomanFaNum-UltraBold.ttf');
  font-display: swap;
}