@import "../public/font/anjoman/index.css";
@import "./tailwind.css";
@import "./components.scss";

// varibale color
$primaryColor: #76B947;
$secondaryColor: #94C973;
$TextColor: #2F5233;
$baseColor: #B1D8B7;

// reset 
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Anjoman !important;
}

html,
body {
    height: 100%;
}

*[disabled] {
    background-color: $primaryColor + b7 !important;
}

.bg-primaryColor {
    background: $primaryColor;
}

@import "../public/font/anjoman/index.css";
@import "./tailwind.css";

// varibale color
$primaryColor: #76B947;
$secondaryColor: #94C973;
$TextColor: #2F5233;
$baseColor: #B1D8B7;

// reset 
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Anjoman;
}

.bg-primaryColor {
    background-color: $primaryColor;
}

.bg-secondaryColor {
    background-color: $secondaryColor;
}

.text-TextColor {
    color: $TextColor;
}

.base-baseColor {
    background-color: $baseColor;
}

.one_load {
    h2 {
        animation: 0.5s;
        animation: one-l 1s ease;
        transform: translateY(-20px) scale(1.5);
    }

    >div {
        animation: one-l2 1s ease;
    }
}

@keyframes one-l {
    0% {
        transform: translateY(50px) scale(1);
    }

    50% {
        transform: translateY(50px) scale(1.2);
    }

    100% {
        transform: translateY(-20px) scale(1.5);
    }
}

@keyframes one-l2 {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.ani-showpage {
    animation: ani-showpage 0.25s ease;
}

@keyframes ani-showpage {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.page-enter {
    opacity: 0;
    transform: translateY(100px);
}

.page-enter-active {
    opacity: 1;
    transform: translateY(0px);
    transition: opacity 300ms, transform 300ms;
}

.page-exit {
    opacity: 1;
    transform: translateY(0px);
}

.page-exit-active {
    opacity: 0;
    transform: translateY(-100px);
    transition: opacity 300ms, transform 300ms;
}

:where(.vi__wrapper) {
    margin: auto !important;
}

:where(.vi__container) {
    display: flex !important;
    gap: 8px !important;
    height: 50px !important;
    width: 250px !important;
    height: 55px !important;
}

:where(.vi__character) {
    position: relative !important;
    background: #FFFFFF !important;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25) !important;
    border-radius: 5px !important;
    border: 1px solid #eee !important;

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        border-radius: 10px;
        background: #32323224;
        bottom: -8px;
        left: 0;
    }
}

:where(.vi__character--selected) {
    outline-color: $primaryColor !important;
    color: $primaryColor !important;

    &::before {
        background: $primaryColor;
    }
}

.vi__character--err.vi__character--selected {
    outline-color: #ff0000 !important;
    color: #ff0000 !important;

    &::before {
        background: #ff0000 !important;
    }
}

.vi__character--err {
    box-shadow: 0px 0px 5px rgba(255, 0, 0, 0.25) !important;
    border: 1px solid #ff0000 !important;
    &::before {
        background: #ff0000 !important;
    }
}